//* Homepage Styles

.home,
.full-width {
    .site-inner {
        max-width: 100%;
        padding-top: 0;
    }
}

// Home - Banner Section

.banner-background {
    background-color: #f7f7f7;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.banner-text-wrap {
    width: 100%;
    display: table;
    height: 600px;
}

.banner-text {.banner-background {
    background-color: #252a30;
    text-align: center;
    position: relative;
    }

    .banner-text-wrap {
        width: 100%;
        display: table;
        height: 600px;
    }

    .banner-text {
        color: #fff;
        text-align: center;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        font-size: 18px;
        padding-bottom: 60px;

        .banner-title {
            font-size: 72px;
            font-weight: 300;
        }

        h1 {
            color: #fff;
            font-size: 18px;
            margin-top: 20px;
            margin-bottom: 14px;
        }

        .banner-subtitle {
            padding-bottom: 30px;
        }

    }
    color: #fff;
    text-align: center;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    padding-bottom: 60px;

    .banner-title {
        font-size: 72px;
        font-weight: 300;
    }

    h1 {
        color: #fff;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 14px;
    }

    .banner-subtitle {
        padding: 30px;
        line-height: 2;
    }

}

.home-scroll {
    background-color: $brand-primary;
    color: #fff;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    display: inline-block;
    line-height: 60px;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: -30px;

    &:active,
    &:hover,
    &:focus {
        color: #fff;
        background-color: darken($brand-primary, 5%);
    }
}

// Home - All Sections

.section {
    padding: 100px 0;
    text-align: center;
}

.section-title {
    font-size: 54px;
    font-weight: 300;
    margin-bottom: 20px;
}

.section-subtitle {
    font-weight: 700;
    font-size: 18px;
}


// Home - Help Section

.home-help {
    background-color: #f7f7f7;
}

.help-list {
    display: flex;
    flex-wrap: wrap;
}

.help-item {
    flex-basis: 48%;
    margin: 15px 0;
    margin-right: 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    transition: background 0.3s ease-in-out;
    cursor: pointer;

    &:nth-of-type(2n) {
        margin-right: 0;
    }

    .help-image-wrap {
        flex-basis: 35%;
        padding: 30px;
        border-right: 1px solid rgba(0,0,0,0.07);
    }

    .help-image-hover {
        display: none;
    }

    .help-content {
        padding: 30px;
        text-align: left;
        flex-basis: 65%;
    }

    .help-title {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        color: $brand-primary;
        letter-spacing: 0.25px;
        margin-bottom: 20px;
    }

    .help-description {
        font-size: 13px;
        line-height: 1.8;
        margin-bottom: 0;
    }

    .help-link {
        display: inline-block;
        margin-top: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &:hover {
        background-color: $brand-primary;
        color: #ffffff;

        .help-title {
            color: #ffffff;
        }

        .help-image {
            display: none;
        }

        .help-image-hover {
            display: block;
            margin: 0 auto;
        }

        .help-link {
            color: #fff;
        }
    }
}


// Home - CTA Light Section

.home-cta-light {
    .content-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .left-content,
    .right-content {
        flex-basis: 50%;
    }

    .left-content {
        text-align: left;
        padding: 100px 0;
    }

    .btn-blue,
    .btn-darkblue {
        display: inline-block;
        margin-bottom: 20px;
    }
}


// Home - Services Section

.home-services {
    padding-top: 0;

    .section-title {
        font-size: 40px;
        line-height: 1.5;
        margin-bottom: 30px;
    }

    .section-subtitle p {
        line-height: 2;
    }

    .services-wrap {
        margin-top: 60px;
    }

    .services-section-title {
        color: $brand-primary;
        font-size: 30px;
        font-weight: 300;
        padding-top: 80px; 
        margin-bottom: 10px;
    }

    .services-section-wrap {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 60px;
    }

    hr {
        width: 60%;
        margin: 0 auto;
    }

    .service-item {
        flex-basis: 33%;
        padding: 30px;
        padding-bottom: 0;

        img {
            margin-bottom: 10px;
        }
    }

    .service-item-title {
        font-weight: 700;
        color: $brand-primary;
        text-transform: uppercase;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .service-item-content {
        color: #444444;
        font-size: 13px;
        line-height: 2;
    }
}


// Home - Blog Section

.home-blog {
    background-color: #f7f7f7;
    text-align: left;

    .blog-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .blog-item {
        flex-basis: 48%;
        margin: 30px;
        margin-left: 0px;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
        cursor: pointer;
        background-color: #fff;

        &:last-of-type {
            margin-right: 0;
        }
    }

    .blog-thumbnail {
        position: relative;
        max-height: 270px;
        overflow: hidden;

        img {
            margin-top: -30px;
        }
    }

    .blog-thumb-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .blog-content-wrap {
        background-color: #fff;
        padding: 30px;
    }

    .blog-stats {
        margin-bottom: 10px;
        color: #cccccc;
        font-weight: 700;

        span {
            transition: .5 ease;
            margin-right: 20px;

            &:hover {
                color: $brand-primary;
            }

            i {
                margin-left: 5px;
            }
        }
    }

    .blog-title {
        margin-bottom: 20px;

        a {
            color: $brand-secondary;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.5;

            &:hover {
                color: $brand-primary;
            }
        }
    }

    .blog-excerpt {
        font-size: 13px;
        line-height: 2;
    }

    .blog-read-more {
        font-weight: 700;
    }

    .blog-view-more {
        font-size: 16px;
        font-weight: 700;
        color: $brand-darkblue;
        float: right;

        i {
            margin-left: 10px;
        }

        &:hover {
            color: $brand-primary;
        }
    }
}


// Home - Stats Section

.home-stats {
    background-color: $brand-primary;

    .section-title {
        font-size: 48px;
        margin-bottom: 60px;
        color: #fff;
    }

    .stats-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .stats-item {
        flex-basis: 18%;
        margin-right: 20px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        padding: 20px;
        color: #fff;

        &:last-of-type {
            margin-right: 0;
        }
    }

    .stats-item-num {
        font-size: 60px;
    }

    .stats-item-text {
        font-size: 16px;
        font-weight: 600;
    }
}


// Home - Clients Section

.home-clients {
    overflow: hidden;

    .section-title {
        font-size: 36px;
        color: $brand-secondary;
        margin-bottom: 60px;
    }

    .clients-container {
        width: 100%;
        height: 100%;
        position: relative;

        .swiper-slide {
            height: auto;
        }
    }

    .clients-next,
    .clients-prev {
        background-image: none;
        font-size: 18px;
        opacity: 1;
    }

    .clients-next {
        right: -50px;
    }

    .clients-prev {
        left: -50px;
    }
}


// Home - Testimonials Section

.home-testimonials {
    padding-top: 0;

    .section-title {
        font-size: 36px;
        color: $brand-secondary;
        margin-bottom: 60px;
    }

    .testimonials-container {
        position: relative;
        width: 665px;
        max-width: 100%;
        height: auto;
        min-height: 480px;
        margin: 0 auto;
        border-radius: 4px;
        padding: 50px 40px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        background-color: #fff;
    }

    .test-image {
        border-radius: 120px;
        overflow: hidden;
        height: 120px;
        width: 120px;
        margin: 0 auto;
        margin-bottom: 30px;

        img {
            width: 120px;
        }
    }

    .test-content {
        font-size: 16px;
        line-height: 2;
    }

    .test-name {
        font-size: 18px;
        font-weight: 600;
    }

    .test-subtitle {
        font-size: 14px;
        color: #999;
    }

    .testimonials-container > .testimonials-pagination {
        bottom: 30px;
    }
}


// Home - CTA Dark Section

.home-cta-dark {
    background-color: $brand-darkblue;
    color: #fff;
    padding-top: 200px;
    margin-top: -200px;

    .content-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .left-content,
    .right-content {
        flex-basis: 50%;
    }

    .left-content {
        text-align: left;
    }

    .right-content {
        text-align: right;
    }
}


//* Team of Experts Page

.inner-cta-dark {
    padding-top: 120px;
    margin-top: 0px;
}

.inner-page {
    .home-services {
        padding-top: 100px;
    }

    .banner-background {
        background: #252a30;
    }

}

.experts-content {
    h1 {
        font-size: 60px;
        font-weight: 300;
        margin-bottom: 30px;
    }

    .content-wrap {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 100px;

        &:last-of-type {
            padding-bottom: 0;
        }
    }

    .left-content,
    .right-content {
        flex-basis: 50%;
    }

    .left-content {
        padding-right: 20px;
    }

    .right-content {
        padding-left: 20px;
    }

}

.experts-cta-full {
    background-color: $brand-primary;
    color: #fff;

    .experts-cta-content {
        font-size: 18px;
        line-height: 36px;
        font-weight: 700;
    }

    .content-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .experts-cta-item {
        flex-basis: 48%;
        margin: 15px 0;
        padding: 40px 30px;
        border-radius: 4px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        transition: background 0.3s ease-in-out;
        color: $brand-secondary;
        line-height: 2;
        margin-right: 30px;

        &:nth-of-type(2n) {
            margin-right: 0px;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }

}


//* Video Testimonials Page

#big-video {
    position: relative;
    background: #000;
    overflow: hidden;
    height: 640px;
}

#big-video .video {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

#big-video video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#big-video .video-element {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.video-background {
    text-align: center;
    position: relative;
}

.video-text-wrap {
    width: 100%;
    display: table;
    height: 640px;
    position: absolute;
    z-index: 998;
    background-color: rgba(18,18,18,0.5);
}

.video-text {
    text-align: center;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 60px;

    h1 {
        color: #fff;
        font-size: 60px;
        font-weight: 300;
        line-height: 1.2;
        margin-bottom: 0;
    }

    p {
        margin-bottom: 0;
    }
}

.videos-content {
    .content-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .left-content,
    .right-content {
        flex-basis: 50%;
    }

    .left-content {
        padding-right: 20px;
    }

    .right-content {
        padding-left: 20px;
    }
}

.videos-cta-full {
    background-color: $brand-primary;
    color: #fff;

    .videos-cta-content {
        font-size: 18px;
        line-height: 36px;
        font-weight: 700;
    }

    .content-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .videos-cta-item {
        flex-basis: 48%;
        margin: 15px 0;
        padding: 40px 30px;
        border-radius: 4px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        transition: background 0.3s ease-in-out;
        color: $brand-secondary;
        line-height: 2;

        &:first-of-type {
            margin-right: 30px;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }

}

.videos-slider {
    overflow: hidden;

    .section-title {
        font-size: 48px;
        margin-bottom: 50px;
    }
}

.videos-container {
    position: relative;

    .videos-next,
    .videos-prev {
        background: none;
        font-size: 30px;
        top: 30%;
        margin-top: -25px;
    }

    .videos-next {
        right: -50px;
    }

    .videos-prev {
        left: -50px;
    }

    .videos-item-wrap {
        padding: 12px 5px;
        text-align: left;
    }

    .videos-item-title {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0;
        margin-bottom: 12px;
    }

    .videos-item-desc p {
        font-size: 13px;
        font-weight: 400;
        line-height: 2;

        a {
            font-weight: 700;
        }
    }
}

.video-testimonials .inner-cta-light {
    background: #f7f7f7;

    .left-content,
    .right-content {
        padding: 0;

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    .right-content {
        text-align: right;

        p:first-of-type {
            margin-bottom: 0;
        }
    }
}

.videos-multi-content {
    .section-title p {
        font-size: 48px;
        line-height: 1.5;
    }

    .section-subtitle p {
        font-size: 18px;
    }

    .section-subtitle {
        margin-bottom: 60px;
    }

    .content-wrap {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 100px;

        &:last-of-type {
            margin-bottom: 0;
        }

        &:nth-child(2n) {
            .right-content {
                padding-left: 60px;
            }
        }
    }

    .left-content,
    .right-content {
        flex-basis: 50%;
        text-align: left;

        .blue-cta-link {
            font-size: 14px;
        }
    }

    .left-content {
        padding-left: 40px;
        padding-right: 20px;
    }

    .right-content {
        padding-left: 20px;
        padding-right: 40px;
    }

    .mobile-content {
        display: none;
    }

    .circle-icon {
        text-align: center;
        height: 60px;
        width: 60px;
        border-radius: 60px;
        line-height: 60px;
        font-size: 30px;
        color: #fff;
        background: $brand-primary;
        margin-bottom: 40px;
    }

    h4 {
        font-size: 30px;
        line-height: 1.5;
        font-weight: 700;
        margin-bottom: 30px;
    }

    p {
        font-size: 13px;
        line-height: 30px;
    }
}

.about-multi-content {
    h1 {
        font-size: 60px;
        font-weight: 300;
        margin-bottom: 30px;
    }

    .content-wrap {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 100px;

        &:last-of-type {
            padding-bottom: 0;
        }
    }

    .left-content,
    .right-content {
        flex-basis: 50%;
        text-align: left;
    }

    .left-content {
        padding-right: 40px;
    }
}


//* Inner Banner Page

.inner-banner-page {
    .site-inner {
        margin-top: 0;
    }

    .inner-banner {
        margin-top: 120px;

        .banner-text-wrap {
            height: 300px;
        }

        .banner-text {
            padding-bottom: 0;
        }
    }
}


//* Blog Page

.blog-page {
    .entry-header {
        margin-bottom: 20px;
    }

    .entry-footer {
        text-align: right;

        .read-more-link {
            font-weight: 700;
            margin-top: 20px;
            font-size: 16px;
            display: inline-block;
        }

        .entry-meta {
            border-top: none;
        }
    }

    .entry {
        border-bottom: 1px solid #eee;
        margin-bottom: 0;
    }

    .entry-content {
        line-height: 2;
    }
}

.swiper-button-next,
.swiper-button-prev {
    .fa {
        background-color: #ddd;
        height: 40px;
        width: 40px;
        line-height: 40px;
        vertical-align: middle;
        border-radius: 40px;
    }
}

//* Media Queries

@include mq(laptop-xsmall) {

    .site-header .widget-area,
    .title-area {
        width: auto;
    }

    .site-header .wrap {
        max-width: 100%;
        padding: 0 20px;
    }

    .genesis-nav-menu a, #custom_html-2 .nav-link {
        padding: 53px 12px;
    }

    .home-clients .clients-prev {
        left: -25px;
    }

    .home-clients .clients-next {
        right: -25px;   
    }

    .home-stats .stats-item-num {
        font-size: 48px;
    }

    .home-stats .stats-item {
        flex-basis: 17.9%;
    }

    .footer-column {
        margin-right: 45px;
        text-align: left;
    }

    #big-video,
    .video-text-wrap {
        height: 576px;
    }

    .about-multi-content,
    .videos-content {
        .left-content,
        .right-content {
            br {
                display: none;
            }
        }
    }

    .videos-container {
        .videos-next {
            right: -30px;
        }

        .videos-prev {
            left: -30px;
        }

        .videos-next,
        .videos-prev {
            top: 25%;
        }
    }
}

@include mq('960px') {
    .home-stats .stats-item {
        flex-basis: 31.5%;
        margin-bottom: 20px;

        &:nth-of-type(3n) {
            margin-right: 0;
        }
    }

    #big-video,
    .video-text-wrap {
        height: 540px;
    }

    .videos-container {
        .videos-next {
            right: -50px;
        }

        .videos-prev {
            left: -50px;
        }

        .videos-next,
        .videos-prev {
            top: 20%;
        }
    }

    .videos-multi-content {

        .left-content,
        .right-content {
            br {
                display: none;
            }
        }

        .left-content {
            padding-left: 0;
        }

        .right-content {
            padding-right: 0;
        }
    }
}

@include mq('800px') {
    .home {
        .site-inner, .wrap {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .home-blog .blog-item {
        flex-basis: 47%;
    }

    .home-stats .stats-item {
        flex-basis: 31%;
    }

    .help-item {
        flex-basis: 100%;
        margin-right: 0;
    }

    .home-cta-dark {
        padding-top: 200px !important;

        br {
            display: none;
        }
    }

    .home-cta-dark.inner-cta-dark {
        padding-top: 100px !important;
    }

    #big-video {
        height: 450px;
    }

    .video-text-wrap {
        height: 451px;
    }

    .videos-container {
        .videos-next {
            right: -35px;
        }

        .videos-prev {
            left: -35px;
        }

        .videos-next,
        .videos-prev {
            top: 28%;
        }
    }

    .videos-multi-content {

        .content-wrap {
            border-bottom: 1px solid #ddd;
            padding-bottom: 60px;    
            margin-bottom: 60px;

            &:nth-child(odd) {
                flex-direction: column-reverse;
            }

            &:last-of-type {
                border-bottom: none;
                padding-bottom: 0;
            }

            &:nth-child(2n) .right-content {
                padding-left: 5%;
            }
        }

        .left-content,
        .right-content {
            flex-basis: 100%;
            padding-left: 5%;
            padding-right: 5%;

            p:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .video-testimonials,
    .inner-page {
        .site-inner {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .inner-banner-page {
        .site-inner {
            padding-left: 5%;
            padding-right: 5%;
        }

        .entry {
            margin-bottom: 40px;
            padding-bottom: 40px;

            &:last-of-type {
                padding-bottom: 0px;
            }
        }
    }
}

@include mq(tablet-portrait) {

    .home-cta-light {
        padding-bottom: 0 !important;

        .left-content,
        .right-content {
            text-align: center;
            flex-basis: 100%;
            padding: 0;
        } 
    }

    .home-services .services-section-wrap {
        padding-bottom: 0;
    }

    .videos-content,
    .experts-content {

        .left-content,
        .right-content {
            flex-basis: 100%;
            padding: 0;
            padding-bottom: 30px;

            br {
                display: none;
            }
        }
    }

    .videos-cta-full,
    .experts-cta-full {
        br {
            display: none;
        }

        .videos-cta-item,
        .experts-cta-item {
            flex-basis: 47%;
        }
    }

    #big-video,
    .video-text-wrap {
        height: 432px;
    }

    .videos-slider {
        overflow: hidden;
    }

    .inner-cta-light {
        padding-bottom: 100px !important;

        .left-content {
            text-align: left;
        }

        .left-content,
        .right-content {
            flex-basis: 50%;

            br {
                display: none;
            }
        }
    }

    .about-multi-content {
        .left-content,
        .right-content {
            flex-basis: 100%;
            text-align: left;
        }

        .left-content {
            padding-right: 0;
        }
    }
}

@include mq('600px') {
    #big-video .video {
        height: 100%;
    }

    .video-text {
        padding-bottom: 0;
        font-size: 48px;
    }
}

@include mq('426px') {

    .inner-banner-page {
        .inner-banner {
            margin-top: 90px;
        }
    }

    .banner-text-wrap {
        padding: 0;
    }

    .banner-text .banner-title {
        font-size: 60px;
        line-height: 1.2;
    }

    .home-services .service-item {
        flex-basis: 100%;
        padding: 30px;
    }

    .home-blog .blog-item {
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 30px;
        text-align: left;       
    }

    .home-stats {
        .section-title {
            font-size: 36px !important;
        }

        .stats-item {
            flex-basis: 100%;
            margin-right: 0;
        }
    }

    .home-cta-light {
        .content-wrap p span:last-of-type {
            font-size: 48px !important;
            line-height: 1.2;
        }

        .right-content img {
            max-width: 200px;
        }
    }

    .home-cta-dark.section {
        padding-top: 200px !important;

        .left-content,
        .right-content {
            flex-basis: 100%;
            text-align: center; 
        }

        .left-content p span {
            font-size: 36px !important;
        }

        .right-content p:first-of-type {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    .home-clients {
        .clients-prev {
            left: 0px;
        }

        .clients-next {
            right: 0px;
        }
    }

    .help-item {
        .help-image-wrap,
        .help-content {
            flex-basis: 100%;
            text-align: center;
        }

        .help-image-wrap {
            border-right: 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.07);
        }
    }

    .section {
        padding: 60px 5% !important;
        text-align: center;
    }

    .section-title {
        font-size: 48px;
        padding: 0 20px;
        text-align: center;
    }

    .home-services .section-title {
        font-size: 30px;

        br {
            display: none;
        }
    }

    .home-testimonials {
        padding-top: 0 !important;
    }

    .home-cta-dark.inner-cta-dark {
        padding-top: 60px !important;
    }

    .experts-content {
        h1 {
            font-size: 48px;
        }

        h1, p {
            text-align: center !important;
        }
    }

    .videos-cta-full,
    .experts-cta-full {

        .videos-cta-item,
        .experts-cta-item {
            flex-basis: 100%;
            margin: 0 !important;
            margin-bottom: 30px !important;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .videos-container {
        .videos-next {
            right: -20px;
        }

        .videos-prev {
            left: -20px;
        }

        .videos-next,
        .videos-prev {
            top: 31%;
        }
    }

    .inner-cta-light {
        .left-content,
        .right-content {
            flex-basis: 100%;
            text-align: center; 
        }
    }

    .video-testimonials .inner-cta-light .right-content {
        text-align: center;
    }

    .videos-multi-content {
        .section-title {
            padding: 0 10px;

            p {
                font-size: 36px;
                line-height: 1.5;

                br {
                    display: none;
                }
            }
        } 

        .mobile-content {
            display: block;
            padding: 20px 0;

            &:last-of-type {
                padding-bottom: 0;
            }
        }

        .desktop-content {
            display: none;
        }
    }

    .videos-slider .section-title {
        font-size: 36px;
    }

    .about-multi-content h1 {
        font-size: 48px;
    }

    .inner-banner-page .inner-banner .banner-text-wrap {
        height: 200px;
    }
}

@include mq('376px') {
    .videos-container {
        .videos-next,
        .videos-prev {
            display: none;
        }
    }
}