//* General Styles

:focus {
    outline: none;
}

a {
    &:active,
    &:hover,
    &:focus {
        color: darken($brand-primary, 10%);
    }
}

.btn-solid {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
    background-color: $brand-primary;
    padding: 25px 20px;
    border-radius: 4px;
    transition: .3s;

    .fa {
        margin-right: 10px;
    }

    &:active,
    &:hover,
    &:focus {
        color: #fff;
        background-color: darken($brand-primary, 5%);
    }
}

.btn-blue {
    @extend .btn-solid;

    background-color: $brand-primary;
}

.btn-darkblue {
    @extend .btn-solid;

    background-color: $brand-darkblue;

    &:active,
    &:hover,
    &:focus {
        color: #fff;
        background-color: darken($brand-darkblue, 5%);
    }
}


button {
    font-weight: 600;
    padding: 12px 24px;
    height: 50px;
}



//* Header Styles

.header-image .site-title > a {
    background-size: 100%;
}

.title-area {
    width: 200px;
}

.genesis-nav-menu .sub-menu a {
    background-color: #56c5d0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;

    &:hover {
        color: #e6e6e6;
    }
}

.genesis-nav-menu a,
#custom_html-2 .nav-link {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 14px;
    padding: 53px 20px;
    letter-spacing: 1px;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus  {
    color: #2899d5;
    text-decoration: none;
    border-bottom: 8px solid;
    padding-bottom: 45px;
}

.genesis-nav-menu .current-menu-item > a {
    font-weight: 600;
}

.nav-secondary {
    background: $brand-secondary;
    text-align: right;

    .genesis-nav-menu a {
        color: #fff;
        font-size: 11px;
        letter-spacing: 1px;
        padding: 16px;

        &:hover {
            color: darken(#fff, 10%);
        }
    }
}

#nav_menu-2,
#custom_html-2 {
    display: inline-block;
}

#custom_html-2 {
    .nav-link {
        color: #333;
        font-weight: 600;

        &:hover {
            color: $brand-secondary;
        }
    }

    .fa {
        margin-right: 10px;
    }
}

.menu-item-has-children a > i {
    margin-left: 10px;
    font-size: 14px;
    vertical-align: text-bottom;
}

.contact-us-menu,
.live-chat-menu {
    letter-spacing: 1px;
    font-weight: 600;
    margin-left: 20px;
}

.contact-us-menu {
    color: #333;

    &:hover {
        color: $brand-primary;
    }
}

.live-chat-menu {
    color: #fff;
    background-color: $brand-primary;
    padding: 20px;
    border-radius: 4px;

    &:hover {
        color: #fff;
        background-color: darken($brand-primary, 5%);
    }
}



//* Footer 

.site-footer {
    padding: 100px 0;
    background-color: $brand-darkblue;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.footer-wrap {
    display: flex;
    color: #fff;

    a {
        color: #fff;
        
        &:hover {
            color: $brand-primary;
        }
    }
}

.footer-column {
    margin-right: 100px;
    text-align: left;

    &:last-of-type {
        margin-right: 0;
    }
}

.about-column,
.contact-column {
    flex-basis: 30%;
}

.menu-column,
.support-column {
    padding: 0 20px;
}

.footer-header {
    color: #fff;
    font-weight: 600;
}

.footer-content {
    margin: 40px 0 50px;
    line-height: 2;
    font-size: 16px;
    font-weight: 300;

    &.business-hours {
        margin-top: 20px;
    }

    &.social-media {
        a {
            margin-right: 30px;
        } 
    }
}

.footer-copyright {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    opacity: 0.3;
    text-align: left;
}
