//* General Styles

:focus {
    outline: none;
}

a {
    &:active,
    &:hover,
    &:focus {
        color: darken($brand-primary, 10%);
    }
}

.btn-solid {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
    background-color: $brand-primary;
    padding: 25px 20px;
    border-radius: 4px;
    transition: .3s;

    i {
        margin-right: 10px;
    }

    &:active,
    &:hover,
    &:focus {
        color: #fff;
        background-color: darken($brand-primary, 5%);
    }
}

.btn-blue {
    @extend .btn-solid;

    background-color: $brand-primary;
}

.btn-darkblue {
    @extend .btn-solid;

    background-color: $brand-darkblue;

    &:active,
    &:hover,
    &:focus {
        color: #fff;
        background-color: darken($brand-darkblue, 5%);
    }
}

button {
    font-weight: 600;
    padding: 12px 24px;
    height: 50px;
}

.blue-cta-link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}


//* Header Styles

.site-header {
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
    z-index: 999;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.header-image .site-title > a {
    background-size: 100%;
}

.title-area {
    width: 200px;
}

.genesis-nav-menu .sub-menu a {
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: $brand-secondary;

    &:hover {
        color: $brand-primary;
        padding-bottom: 20px;
    }
}

.genesis-nav-menu a,
#custom_html-2 .nav-link {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 14px;
    padding: 53px 20px;
    letter-spacing: 1px;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus  {
    color: #2899d5;
    text-decoration: none;
    border-bottom: 8px solid;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a {
    padding-bottom: 45px;
}

.genesis-nav-menu .sub-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus {
    padding-bottom: 20px;
}

.genesis-nav-menu .current-menu-item > a {
    font-weight: 600;
}

.nav-secondary {
    background: $brand-secondary;
    text-align: right;

    .genesis-nav-menu a {
        color: #fff;
        font-size: 11px;
        letter-spacing: 1px;
        padding: 16px;

        &:hover {
            color: darken(#fff, 10%);
        }
    }
}

#nav_menu-2,
#custom_html-2 {
    display: inline-block;
}

#custom_html-2 {
    .nav-link {
        color: #333;
        font-weight: 600;

        &:hover {
            color: $brand-secondary;
        }
    }

    i {
        margin-right: 10px;
    }
}

.menu-item-has-children {
    &.current-menu-item {
        background: $brand-primary;
    }

    a {
        > i {
            margin-left: 10px;
            font-size: 14px;
            vertical-align: top;
        }
    }

    .mobile-expand {
        position: absolute;
        top: 20px;
        right: 10px;
        padding: 10px;
    }


    &.current-menu-item,
    &:hover,
    &:active,
    &:focus {
        color: #fff;
    }
}

.contact-us-menu,
.live-chat-menu {
    letter-spacing: 1px;
    font-weight: 600;
    margin-left: 20px;
}

.contact-us-menu {
    color: #333;

    &:hover {
        color: $brand-primary;
    }
}

.live-chat-menu {
    color: #fff;
    background-color: $brand-primary;
    padding: 20px;
    border-radius: 4px;

    &:hover {
        color: #fff;
        background-color: darken($brand-primary, 5%);
    }
}

.responsive-menu-icons {
    display: none;
    height: 72px;
    float: right;
    align-items: center;
}

.responsive-menu-icon {
    color: $brand-secondary;
    margin-left: 20px;
}


//* Site Inner

.site-inner {
    margin-top: 120px;
}


//* Footer 

.site-footer {
    padding: 100px 0;
    background-color: $brand-darkblue;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.footer-wrap {
    display: flex;
    flex-wrap: wrap;
    color: #fff;

    a {
        color: #fff;

        &:hover {
            color: $brand-primary;
        }
    }
}

.footer-column {
    margin-right: 90px;
    text-align: left;

    &:last-of-type {
        margin-right: 0;
    }
}

.about-column {
    flex-basis: 27%;
}

.contact-column {
    flex-basis: 25%;
}

.menu-column,
.support-column {
    padding: 0 20px;
}

.footer-header {
    color: #fff;
    font-weight: 600;
}

.footer-content {
    margin: 40px 0 50px;
    line-height: 2;
    font-size: 16px;
    font-weight: 300;

    &.business-hours {
        margin-top: 20px;
    }

    &.social-media {
        a {
            margin-right: 30px;
            font-size: 24px;
        } 
    }

    &.contact-links a > i {
        margin-right: 10px;
    }
}

.footer-copyright {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    opacity: 0.3;
    text-align: left;
}


//* Single Posts

.single .entry-header {
    margin-bottom: 30px;
}

//* Media Queries

@include mq('960px') {
    .header-image .site-title > a {
        background-position: center;
    }

    .contact-us-menu,
    .live-chat-menu {
        span {
            display: none;
        }
    }

    #custom_html-2 i {
        margin-right: 0px;
    }

    .footer-column {
        margin-right: 20px;
    }
}

@include mq('800px') {
    //    .site-inner, .wrap {
    //        padding-left: 0;
    //        padding-right: 0;
    //    }

    .section {
        padding: 100px 5% !important;
    }

    .site-footer .wrap {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    .footer-column {
        flex-basis: 46%;
        margin-right: 20px;

        &:nth-of-type(2n) {
            margin-right: 0;
        }
    }

    .menu-column, 
    .support-column {
        padding: 0px;
    }
}

@include mq(tablet-portrait) {

    .genesis-nav-menu {

        .menu-item {
            > .sub-menu a {
                width: 100%; 
                padding-left: 20px !important;

                &:hover {
                    color: #fff;
                }
            }

            .sub-menu {
                width: 100%;
                position: relative;
                background: #fff;
            }

            &:hover {
                position: relative;
            }

            &:hover > .sub-menu {
                position: relative;
                width: 100%; 
            }
        }
    }


    .menu-item-has-children {
        position: relative;
        
        a {
            width: 90%;
        }

        > a > i {
            display: none;
        }

        .mobile-expand {
            color: $brand-secondary; 
        }
        
        &.current-menu-item {
            .mobile-expand {
                color: #fff;
            }
        }
    }

    .contact-us-menu,
    .live-chat-menu {
        display: none;
    }

    .site-header {
        .wrap {
            padding: 0 !important;
        }

        .title-area {
            width: 100%;
            padding: 5px 20px;
        }

        .widget-area {
            width: 100% !important;
            text-align: left;
            display: none;
            float: none;
        }

        ul.genesis-nav-menu {
            border-top: 1px solid #ddd;
        }
    }

    #nav_menu-2 {
        display: block;
    }

    .genesis-nav-menu {
        a {
            padding: 30px 20px !important;
        }

        .menu-item {
            display: block;
            width: 100%;
            border-bottom: 1px solid #eee;
        }

        a:hover,
        a:focus,
        .current-menu-item > a,
        .sub-menu .current-menu-item > a:hover,
        .sub-menu .current-menu-item > a:focus {
            color: #fff;
            text-decoration: none;
            border-bottom: 1px solid #2899d5;
            background: #2899d5;
        }
    }

    .responsive-menu-icons {
        display: flex;
        text-align: right;
        padding: 23px 0;
        height: 108px;

        .contact-us-menu, 
        .live-chat-menu {
            display: inline-block;
        }
    }
}

@include mq('426px') {
    .header-image .site-title > a {
        background-size: 70%;
        min-height: 80px;
    }

    .responsive-menu-icons {
        padding: 13px 0;
    }

    .live-chat-menu {
        padding: 12px 16px;
    }

    .site-inner {
        margin-top: 90px;
    }

    .btn-solid, 
    .btn-blue, 
    .btn-darkblue {
        padding: 25px 10px;
        width: 335px;
        display: block;
        margin: 0 auto;
    }

    .footer-column {
        flex-basis: 100% !important;
        margin-right: 0px !important;
    }

    .menu-column, 
    .support-column {
        flex-basis: 50% !important;
    }

    .menu-column {
        margin-right: 30px;
    }

    .responsive-menu-icons {
        display: flex;
        height: 72px;
    }

    .menu-item-has-children a {
        width: 80%;
    }
}